$color-primary: #0070f3;
$color-black: #000;
$color-white: #fff;
$color-dark-gray: #1f1f1f;
$color-light-gray: #f2f2f2;
$color-mid-gray: #606060;

$background: #22262d;

$light-color: #cfd9e4;

$accent-blue: #3870e3;
$accent-red: #d45d52;
$accent-green: #599050;
$accent: #2e333a;

$font-family: 'Helvetica', sans-serif;
$font-weight-normal: 300;
$font-weight-bold: 600;

$content-width: 1200px;
$content-width-extended: 1400px;

$breakpoint-small: 600px;
$breakpoint-medium: 1000px;

/*
* Colors
*/
$purple: #5e5eaa;
$purple-light: #f3f0fc;
$purple-dark: #2c2d56;
$yellow: #ffcc51;
$red: #ff9898;
$red-text: #f23b3b;
$green: #b1d3b9;
$green-text: #80a088;
$light-grey: #ededed;
$line-grey: #bab7b7;

$border-radius: 10px;
$margin: 25px;

//status

$status-pending: #ededed;
$status-pending-text: #8d8d8d;

$status-good: #b1d3b9;

$status-maybe: #ffd0a0;
$status-maybe-text: #ff9931;

$gap: 25px;
