.pagination {
  display: flex;
  gap: 15px;
  align-items: center;
  &__icon {
    font-size: 45px;
    &:hover {
      cursor: pointer;
    }
  }
  &__numbers {
    display: flex;
    gap: 10px;

    &__dot {
    }

    &__number {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
