.forgotPassword {
  h1 {
    margin: 0;
    font-size: 40px;
    color: $purple;
    background-color: $purple-light;
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__formDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 40px;

    &__form {
      background-color: white;
      display: flex;
      flex-direction: column;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
      padding: 50px 100px;
      border-radius: $border-radius;
      width: 25%;
      &__label {
        color: $purple;
        font-weight: bold;
        margin-bottom: 15px;
        font-size: 20px;
      }

      &__input {
        border: none;
        background-color: $light-grey;
        padding: 10px 20px;
        border-radius: $border-radius;
        &::placeholder {
          color: $line-grey;
          font-size: 20px;
        }
      }

      &__button {
        cursor: pointer;
        border: none;
        background-color: $purple;
        padding: 10px 20px;
        color: white;
        border-radius: $border-radius;
        margin-top: 25px;
        &:hover {
          background-color: $yellow;
        }
      }
    }
  }
}
